@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Slot";
}

<header>
    <div class="userDiv">
        <i id="user" class="fas fa-user"></i>
        <p id="username"></p>
        <p>🥩</p>
        <p id="usermeat"></p>
    </div>
</header>

<div id="messageDiv">
  <h2 class="message">Welcome! Enter a bet amount to start.</h2>
</div>


<div class="container">


<div class="infoNbutton">
    <i id="info" class="fa-solid fa-circle-info"></i>
</div>



<div class="modal" id="infoModal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h2>Slot Machine</h2>
        <ul>
            <li>Each spin costs the amount you bet.</li>
            <li>The goal is to land a winning combination on the <strong>middle row</strong>.</li>
            <li><strong>|BAR|</strong> acts as a wildcard, substituting for any other symbol. &#127826;│BAR│&#127826; => &#127826;&#127826;&#127826;</li>
            <li>If a <strong>&#128276;</strong> appears anywhere on the middle row, you earn one extra spin for free.</li>
        </ul>
        <table class="rulesTable">
            <tr>
                <th>Symbols</th>
                <th>Condition</th>
                <th>Payout (Multiplier of Bet)</th>
            </tr>
            <tr>
                <td>3 Matching Fruits</td>
                <td>E.g., &#127826;&#127826;&#127826; or &#127819;&#127819;&#127819; </td>
                <td>10x Bet</td>
            </tr>
            <tr>
                <td>2 Fruits + Bell</td>
                <td>E.g., &#127817;&#127817;&#128276;</td>
                <td>20x Bet</td>
            </tr>
            <tr>
                <td>3 Bells</td>
                <td>&#128276;&#128276;&#128276;</td>
                <td>30x Bet</td>
            </tr>
            <tr>
                <td>3 BAR Symbols</td>
                <td>│BAR││BAR││BAR│</td>
                <td>50x Bet</td>
            </tr>
            <tr>
                <td>3 Sevens</td>
                <td>777</td>
                <td>JACKPOT (100x Bet)</td>
            </tr>
            <tr>
                <td>Mixed Symbols</td>
                <td>E.g., &#127818;7&#127817; or &#127819;&#127819;&#127818;</td>
                <td>No payout (lose)</td>
            </tr>
        </table>
    </div>
</div>
<div class="slotsNbutton">
    <div class="slots">
        <div class="reel-wrap"><div class="reel"></div></div>
        <div class="reel-wrap"><div class="reel"></div></div>
        <div class="reel-wrap"><div class="reel"></div></div>
    </div>
</div>

<div class="controls">
    <label for="betSize">Bet Size:</label>
    <input type="number" id="betSize" placeholder="0" min="0.01">

    <label for="profitInput">Current Profit:</label>
    <input type="text" id="profitInput" value="&#129385;0.00" readonly>

    <button class="roll" id="rollButton" onclick="rollGame()">ROLL</button>
    <button id="exit" class="exit-btn">EXIT</button> 

</div>



</div>


<div id="resultModal">
    <div class="modal-content">
        <h2></h2>
        <p></p>
    </div>
</div>




@section Scripts {
<script>

const infoIcon = document.getElementById('info');
const infoModal = document.getElementById('infoModal');
const closeModal = document.getElementById('closeModal');
infoIcon.addEventListener('click', () => {
    infoModal.style.display = 'block';
});
closeModal.addEventListener('click', () => {
    infoModal.style.display = 'none';
});
window.addEventListener('click', (event) => {
    if (event.target === infoModal) {
        infoModal.style.display = 'none';
    }
});


let balance = parseFloat("@ViewBag.Balance".replace(',', '.')) || 0;
let userName = "@ViewBag.Username";
let totalWin = 0.0;
let totalLoss = 0.0;
let sessionProfit = 0.0;


document.querySelector('#username').textContent = userName;
document.querySelector('#usermeat').textContent = balance.toFixed(2);

const msg = document.querySelector('.message');
const currentProfitInput = document.querySelector('#profitInput');
const slots = document.querySelector('.slots');
const rollButton = document.querySelector('.roll');

let betAmount;
let currentProfit = 0.0;
let freeRoll = false;
let isGameActive = false; 

const betInput = document.getElementById('betSize');
let lastBetAmount = 0.0; 


var clickAudio = new Audio('/igre/Slot/media/click.mp3');
var jackpotAudio = new Audio('/igre/Slot/media/jackpot.wav');
var fruitAudio = new Audio('/igre/Slot/media/fruit_win.wav');
var freeRollAudio = new Audio('/igre/Slot/media/free_roll.wav');


const icon_width = 120,
    icon_height = 120,
    num_icons = 9,
    time_per_icon = 100,
    indexes = [0, 0, 0];



const resultModal = document.getElementById("resultModal");

function showWinModal(title, message) {
    resultModal.querySelector("h2").textContent = title;
    resultModal.querySelector("p").textContent = message;
    resultModal.style.display = "block";


    setTimeout(() => {
        resultModal.style.display = "none";
    }, 3000);
}

function closeWinModal(){
    resultModal.style.display = "none";
}









document.querySelector('#exit').addEventListener('click', () => {
    
    const idPlayer = parseInt("@ViewBag.PlayerId");
    

    sessionProfit = currentProfit;

    fetch("/Igre/PosodobiBalance", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ idPlayer, sessionProfit }) 
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error("Failed to update balance.");
        }
    })
    .then(data => {
        
    })
    .catch(error => {
        console.error("Error:", error);
        alert("An error occurred.");
    });
    

   




    const idGame = 1; 
    const data = {
        TotalWins: totalWin,
        TotalLosses: totalLoss,
        ID_player: idPlayer,
        ID_game: idGame
    };

    fetch("/Igre/InsertGameState", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (response.ok) {

        } else {
            alert("Failed to insert GameState.");
        }
    })
    .catch(error => {
        console.error("Error:", error);
        alert("An error occurred.");
    });


    window.location.href = "@Url.Action("Index", "Casino")";
})






const roll = (reel, offset = 0) => {
    const delta = (offset + 2) * num_icons + Math.round(Math.random() * num_icons);
    const style = getComputedStyle(reel),
        backgroundPositionY = parseFloat(style["background-position-y"]),
        targetBackgroundPositionY = backgroundPositionY + delta * icon_height,
        normTargetBackgroundPositionY = targetBackgroundPositionY%(num_icons * icon_height);

    return new Promise((resolve, reject) => {
        reel.style.transition = `background-position-y ${8 + delta * time_per_icon}ms`;
        reel.style.backgroundPositionY = `${targetBackgroundPositionY}px`;
    
        const onTransitionEnd = () => {
            reel.removeEventListener('transitionend', onTransitionEnd); 
            reel.style.transition = 'none';
            reel.style.backgroundPositionY = `${normTargetBackgroundPositionY}px`;

            resolve(delta % num_icons);
        };

        reel.addEventListener('transitionend', onTransitionEnd);
  
        
    })
    
};

function rollAll() {
    const reelsList = document.querySelectorAll('.slots .reel');


    Promise
        .all([... reelsList].map((reel, i) => roll(reel, i)))
        .then((deltas) => {
            deltas.forEach((delta, i) => indexes[i] = (indexes[i] + delta) % num_icons )
            console.log(indexes);

            checkWins(indexes);
        })
}



function checkWins(indexes) {
    const wasFreeRoll = freeRoll;   
    checkForFreeRoll(indexes);      
    const deduct = !wasFreeRoll;    
    if (indexes.every(element => element === indexes[0])) {
        checkWin(indexes[0]);
        return;
    } else if (indexes.includes(6) && (indexes[0] === indexes[1] || indexes[0] === indexes[2] || indexes[1] === indexes[2])) {
        checkWin(indexes.find(element => element !== 6));
        return;
    } else if (fruitNbellCheck(indexes)) {
        fruitBellWin();
        return;
    } else {
        msg.textContent = 'NO WIN';
        msg.classList.add('no-win');
        setTimeout(() => {
            msg.classList.remove('no-win');
        }, 2500);
        if (freeRoll) {
            freeRollAudio.play();
            setTimeout(() => {
                freeRollAudio.pause();
                freeRollAudio.currentTime = 0;
            }, 3000);
        }
    }
    if (deduct) {
        balance -= betAmount;
        currentProfit -= betAmount;
        totalLoss += betAmount;
    }
    rollButton.textContent = freeRoll ? "FREE ROLL" : "ROLL";
    currentProfitInput.value = '\u{1F969}' + currentProfit.toFixed(2);
    document.querySelector('#usermeat').textContent = balance.toFixed(2);

    
    betInput.readOnly = freeRoll;
    if (freeRoll) {
        betInput.value = lastBetAmount.toFixed(2); 
    }

}
function checkWin(element) {
    
    if (element === 1) { 
        jackpotWin();
    } else if (element === 5) { 
        bellWin();
    } else if (element === 6) {  
        barWin();
    } else {    
        fruitWin();
    }
    
}
function checkForFreeRoll(indexes) {
    freeRoll = indexes.includes(5);
}

function jackpotWin() {
    let winAmount = betAmount * 100;
    currentProfit += winAmount;
    totalWin += winAmount;
    balance += winAmount;

    updateUi();

    msg.textContent = 'JACKPOT';
    msg.classList.add('jackpot');
    slots.classList.add('jackpot-glow');
    jackpotAudio.play();
    setTimeout(() => {
        slots.classList.remove('jackpot-glow');
        jackpotAudio.pause();
        jackpotAudio.currentTime = 0;
        msg.classList.remove('jackpot');
    }, 4700);

    setTimeout(() => {
        showWinModal("Jackpot!", `You earned 🥩${(betAmount * 100).toFixed(2)}.`);
    }, 3000);

}
function fruitWin() {
    let winAmount = betAmount * 10;
    currentProfit += winAmount;
    totalWin += winAmount;
    balance += winAmount;

    updateUi();

    msg.textContent = 'YOU WIN';
    msg.classList.add('fruit');
    slots.classList.add('fruit-glow');
    fruitAudio.play();
    setTimeout(() => {
        slots.classList.remove('fruit-glow');
        fruitAudio.pause();
        fruitAudio.currentTime = 0;
        msg.classList.remove('fruit');
    }, 4500);

    setTimeout(() => {
        showWinModal("You Win!", `You earned 🥩${(betAmount * 10).toFixed(2)}.`);
    }, 1000);

}
function barWin() {
    let winAmount = betAmount * 50;
    currentProfit += winAmount;
    totalWin += winAmount;
    balance += winAmount;

    updateUi();

    msg.textContent = 'YOU WIN !!!';
    msg.classList.add('bars');
    slots.classList.add('bar-glow');
    fruitAudio.play();
    setTimeout(() => {
        slots.classList.remove('bar-glow');
        fruitAudio.pause();
        fruitAudio.currentTime = 0;
        msg.classList.remove('bars');
    }, 4500);

    setTimeout(() => {
        showWinModal("You Win!", `You earned 🥩${(betAmount * 50).toFixed(2)}.`);
    }, 1000);



}
function bellWin() {
    let winAmount = betAmount * 30;
    currentProfit += winAmount;
    totalWin += winAmount;
    balance += winAmount;

    updateUi();

    msg.textContent = 'YOU WIN !!';
    msg.classList.add('bells');
    slots.classList.add('bell-glow');
    fruitAudio.play();
    setTimeout(() => {
        slots.classList.remove('bell-glow');
        fruitAudio.pause();
        fruitAudio.currentTime = 0;
        msg.classList.remove('bells');
    }, 4500);

    setTimeout(() => {
        showWinModal("You Win!", `You earned 🥩${(betAmount * 30).toFixed(2)}.`);
    }, 1000);


}
function fruitBellWin() {
    let winAmount = betAmount * 20;
    currentProfit += winAmount;
    totalWin += winAmount;
    balance += winAmount;

    updateUi();

    msg.textContent = 'YOU WIN !';
    msg.classList.add('fb');
    slots.classList.add('fb-glow');
    fruitAudio.play();
    setTimeout(() => {
        slots.classList.remove('fb-glow');
        fruitAudio.pause();
        fruitAudio.currentTime = 0;
        msg.classList.remove('fb');
    }, 4500);

    setTimeout(() => {
        showWinModal("You Win!", `You earned 🥩${(betAmount * 20).toFixed(2)}.`);
    }, 1000);


}
function fruitNbellCheck(indexes) {
    fruitIndexes = [0, 2, 3, 4, 7, 8];
    const filteredIndexes = indexes.filter(index => index !== 5);
    if (    
        filteredIndexes.length === 2
    ) {
        if (filteredIndexes[0] === filteredIndexes[1] && fruitIndexes.includes(filteredIndexes[0])) {
            return true;
        } else if ( 
            (filteredIndexes[0] === 6 && fruitIndexes.includes(filteredIndexes[1])) ||
            (filteredIndexes[1] === 6 && fruitIndexes.includes(filteredIndexes[0]))) {
                return true;
        }
    }

    return false;
}




function rollGame() {
    
    if (freeRoll) {
        betAmount = lastBetAmount;              
        betInput.readOnly = true;               
    } else {
        betAmount = parseFloat(betInput.value);

        if (isNaN(betAmount) || betAmount <= 0) {
            msg.textContent = 'Please enter a bet amount';
            return;
        } else if (balance < betAmount) {
            msg.textContent = 'Not enough balance';
            return;
        }

        lastBetAmount = betAmount;              
        betInput.readOnly = false;
    }

    
    clickAudio.play();
    rollAll();

    if (isGameActive) return;

    isGameActive = true;
    document.getElementById("rollButton").disabled = true;
    document.getElementById("exit").disabled = true;

    setTimeout(() => {
        setTimeout(() => {
            document.getElementById("rollButton").disabled = false;
            document.getElementById("exit").disabled = false;
            isGameActive = false;
        }, 2000);
    }, 3000);
}



function updateUi() {
    currentProfitInput.value = '\u{1F969}' + currentProfit.toFixed(2);
    document.querySelector('#usermeat').textContent = balance.toFixed(2);
}

/*
banana -> 0
seven -> 1
cherry -> 2
plum -> 3
orange -> 4
bell -> 5
bar -> 6
lemon -> 7
watermelon -> 8
*/


</script>
}  

<link rel="stylesheet" href="/igre/Slot/style.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shizuru&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">